{% extends 'main.html' %}
{% block register %}
    <h1><center ><a title="Регистрация">Регистрация</a></center></h1>
 <div class="large-offset-3 large-6 columns">
    <form action="/register/" method="post">
        {% csrf_token %}
        <tr><th><label for="id_username"><b>Логин</b></label></th><td><input id="id_username" maxlength="30" name="username" type="text" placeholder="Введите логин для входа в личный кабинет"/></td></tr>
<tr><th><label for="id_first_name"><b>Имя</b></label></th><td><input id="id_first_name" name="first_name" type="text" placeholder="Введите свое имя"/></td></tr>
<tr><th><label for="id_last_name"><b>Фамилия</b></label></th><td><input id="id_last_name" name="last_name" type="text" placeholder="Введите свою фамилию"/></td></tr>
<tr><th><label for="id_email"><b>Email</b></label></th><td><input id="id_email" name="email" type="email" placeholder="Введите свою электронную почту"/></td></tr>
<tr><th><label for="id_password1"><b>Пароль</b></label></th><td><input id="id_password1" name="password1" type="password" placeholder="Придумайте пароль для входа в личный кабинет"/></td></tr>
<tr><th><label for="id_password2"><b>Подтверждение пароля</b></label></th><td><input id="id_password2" name="password2" type="password" placeholder="Повторите пароль"/></td></tr>
<tr><th><label for="id_group_number"><b>Номер группы</b></label></th><td><input id="id_group_number" name="group_number" type="text" placeholder="Номер группы"/><br /></td></tr>
    <center><input class="button" type="submit" value="Зарегистрироваться"></center></form>
    </div>
{% endblock %}